<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {# Fonts #}
    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400" rel="stylesheet">

    {# CSS #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

    {# Page Begin Scripts #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% block head_scripts %}{% endblock %}
</head>
<body>
    <header class="container">
        <section class="row row-v-align">
            <div class="col">
                <h3 id="logo-top" class="text-muted">Story Time App</h3>
            </div>
            <div class="col text-right">
                {% if session['user_id'] %}
                    <span class="align-text-bottom">Hi, {{ session['username'] }}! (<a href="{{url_for('logout')}}">logout</a>)</span>
                {% else %}
                    <span class="align-text-bottom"><a href="{{url_for('login')}}">Sign In</a></span>
                {% endif %}
            </div>
        </section>

        <nav id="main-nav" class="navbar navbar-expand-md navbar-light bg-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse" aria-controls="navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="navbar-nav">
                    {% if session['user_id'] %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('user_dashboard')}}">Dashboard</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{url_for('index')}}">Stories</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main class="container">
        {% block page_detail %}{% endblock %}
    </main>

    <footer class="container">
        <section class="footer">
            <p class="font-weight-light">Story Time App is brought to you by gregdferrell.</p>
        </section>
    </footer>

    <!-- Page End Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>
        $( document ).ready(function() {
            $("#logo-top").click(function(){
                window.location.href = '{{url_for("index")}}';
            });
        });
    </script>

    {% block page_end_scripts %}{% endblock %}
</body>
</html>

