{% extends "base_layout.html" %}

{% set title = 'Edit ' + story.title %}

{% block page_detail %}
    {% include "show_flashed_messages.html" %}

    <section class="container" id="update-story-section">
        <header class="text-center" id="edit-story-header">
            <h2>Edit Story</h2>
        </header>
        <form action="{{url_for('edit_story', story_id=story.id)}}" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="story-title" class="font-weight-bold">Title</label>
                <input type="text" name="title" id="story-title" class="form-control" value="{{ story.title }}" required>
            </div>
            {% set checked = "" %}
            {% if story.published %}
                {% set checked = "checked" %}
            {% endif %}
            <div class="form-check published-check">
                <input type="checkbox" name="published" id="published-check" class="form-check-input" {{ checked }}>
                <label class="form-check-label" for="published-check">Published</label>
            </div>
            <div class="form-group">
                <label for="story-thumbnail-file" class="font-weight-bold">Story Thumbnail</label>
                {% if story.upload_file %}
                    <div id="story-edit-image-section">
                        <img id="story-edit-image" src="{{ story.upload_file.url }}" alt="{{ story.upload_file.filename }}">
                    </div>
                    <div class="form-check mb-3">
                        <input type="checkbox" name="remove-existing-thumbnail" id="remove-existing-thumbnail-check" class="form-check-input">
                        <label class="form-check-label" for="remove-existing-thumbnail-check">Remove existing image.</label>
                    </div>
                {% endif %}
                <input type="file" name="story-thumbnail" class="form-control-file" id="story-thumbnail-file" accept="image/png, image/jpeg">
                <small class="form-text text-muted">Image cannot exceed 512 KB and will be resized to 400px wide.</small>
            </div>
            <div class="form-group">
                <label for="story-description" class="font-weight-bold">Description</label>
                <input type="text" name="description" id="story-description" class="form-control" value="{{ story.description }}" required>
            </div>
            <div class="form-group">
                <label for="story-categories" class="font-weight-bold">Categories</label>
                <select multiple name="categories" class="form-control" id="story-categories">
                    {% for category in categories %}
                        {% set selected = "" %}
                        {% if category in story.categories %}
                            {% set selected = "selected" %}
                        {% endif %}

                        <option value="{{ category.id }}" {{ selected }}>{{ category.label }} - {{ category.description }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="story-text" class="font-weight-bold">Story Text</label>
                <textarea name="text" rows="12" cols="50" maxlength="4000" id="story-text" class="form-control" required>{{ story.story_text }}</textarea>
            </div>
            <button class="btn btn-success" type="submit">Save</button>
            <a class="btn btn-secondary" href="javascript:history.back()">Cancel</a>
            <input type="hidden" name="csrf-token" value="{{ csrf_token }}">
        </form>
    </section>
{% endblock %}

{% block page_end_scripts %}
    <script>
        $('#story-thumbnail-file').change(function(ev) {
            if($('#story-thumbnail-file').val()) {
                $('#remove-existing-thumbnail-check').prop('checked', true);
                $('#remove-existing-thumbnail-check').prop('disabled', true);
            } else {
                $('#remove-existing-thumbnail-check').prop('checked', false);
                $('#remove-existing-thumbnail-check').prop('disabled', false);
            }
        });
    </script>
{% endblock %}
