{% extends "base_layout.html" %}

{% set title = 'Our Stories' %}

{% block page_detail %}
    {% include "show_flashed_messages.html" %}

    <h2>{{ title }}</h2>

    <div class="row story-list">
        {% for story in stories %}
        <div class="col-md-4">
            <div class="bg-light story-section">
                <h3>{{ story.title }}</h3>
                <p class="text-muted font-italic">
                    Author: {{ story.user.name }}
                    <br/>
                    Created on: {{ story.date_created | format_date }}
                </p>
                <p>{{ story.description }}</p>
                <a class="btn btn-success" href="{{url_for('view_story', story_id=story.id)}}">Read...</a>
            </div>
        </div>
        {% else %}
        <div class="col-md-4">
            <p>No stories have been written yet!</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}
