{% extends "base_layout.html" %}

{% set title = 'Story Time App' %}

{% block page_detail %}
    {% include "show_flashed_messages.html" %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Story Time</h1>
            <p class="lead text-muted">Story Time is place where you can share stories you've written with others.
                Sign in to get started creating your own stories, or browse through our stories below.</p>
            <p class="lead text-muted">Story Time is home to {{ stories_count }} stories and counting!</p>
            <p>
                {% if not session['user_id'] %}
                    <a href="{{ url_for('login') }}" class="btn btn-primary my-2">Sign In</a>
                {% endif %}
                <a href="{{ url_for('view_story_random') }}" class="btn btn-secondary my-2">Read Random Story</a>
            </p>
        </div>
    </section>

    <section class="py-5 bg-light" id="latest-stories">
        <header>
            <h2 class="text-center">Latest</h2>
        </header>
        <div class="container">
            <div class="row">
                {% for story in stories %}
                    <div class="col-md-4">
                        <div class="card mb-4 box-shadow cur-point" onclick="window.location='{{ url_for('view_story', story_id=story.id) }}';">
                            {% if story.upload_file %}
                                <img class="card-img-top" src="{{ story.upload_file.url }}" alt="{{ story.upload_file.filename }}">
                            {% else %}
                                <img class="card-img-top" src="{{ url_for('static', filename='img/story-thumbnail-default.jpg') }}" alt="Story Time default image" title="Story Time default image">
                            {% endif %}
                            <div class="card-body">
                                <h4>{{ story.title }}</h4>
                                <p class="card-text">{{ story.description }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div>
                                        {% for category in story.categories %}
                                            <span class="category-label">{{ category.label }}</span>
                                        {% endfor %}
                                    </div>
                                    <small class="text-muted">by {{ story.user.name }}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
