{% extends "base_layout.html" %}

{% set title = 'Dashboard' %}

{% block page_detail %}
    {% include "show_flashed_messages.html" %}

    <div class="container dashboard">
        <div class="row">
            <aside class="dashboard-user-profile col-xs-12 col-md-3">
                <header class="text-center">
                    <h2>User Profile</h2>
                </header>
                <hr/>
                <article class="text-center">
                    <p>{{ username }}</p>
                    <p>{{ email }}</p>
                    <img src="{{ picture }}" class="profile-picture"/>
                </article>
            </aside>

            <section class="dashboard-my-stories col-xs-12 col-md-9">
                <header class="text-center">
                    <h2>My Stories</h2>
                </header>
                <article id="stories-dashboard">
                    <hr/>
                    <p><a class="btn btn-success" href="{{url_for('get_create_story_page')}}" role="button">Create Story</a></p>
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Categories</th>
                                <th>Date Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for story in stories %}
                                <tr>
                                    <td><a href="{{ url_for('view_story', story_id=story.id) }}">{{ story.title }}</a></td>
                                    <td>{{ story.description }}</td>
                                    <td>
                                        {% for category in story.categories %}
                                            {{ category.label }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    </td>
                                    <td>{{ story.date_created | format_date }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </article>
            </section>
        </div>
    </div>

{% endblock %}
