{% extends "base_layout.html" %}

{% set title = 'Dashboard' %}

{% block page_detail %}
    {% include "show_flashed_messages.html" %}

    <section>
        <header>
            <h2>User Profile</h2>
        </header>
        <div class="row" id="profile">
            <div class="col">
                <p>Name: {{ username }}</p>
                <p>Email: {{ email }}</p>
                <img src="{{ picture }}" class="profile-picture"/>
            </div>
        </div>
    </section>

    <section>
        <header>
            <h2>My Stories</h2>
        </header>
        {% for story in stories %}
            <p>{{ story.title }}</p>
        {% endfor %}
    </section>

{% endblock %}
