{% extends "base_layout.html" %}

{% set title = story.title %}

{% block page_detail %}
    {% include "show_flashed_messages.html" %}

    <section class="container">
        <article class="story-detail">
            <h3 class="text-center">{{ story.title }}</h3>
            <p class="text-muted font-italic text-center">written by {{ story.user.name }} on {{ story.date_created | format_date }}</p>
            <h4 class="text-center">{{ story.description }}</h4>
            <p>{{ story.story_text }}</p>
        </article>
    </section>

{% endblock %}
